<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Enneagram number:</strong>
  <%= @question.enneagram_number_id %>
</p>
<p>
  <strong>Number Multiplier:</strong>
  <%= @question.number_multiplier %>
</p>

<div>
  <%= link_to 'Edit', edit_question_path(@question) %> 
</div>
<div>
  <%= link_to 'Back', questions_path %>
</div>
<div>
  <%= link_to 'New Question', new_question_path %>
</div>
