<div class="font">
  <h1 class="text-center">Your Enneagram Type: <%= @my_type %> </h1>
  <h2 class="text-center">Type <%=@my_type%></h2>
  <h3 class="text-center"><%=@description%></h3>

  <div class="grid">
    <div class="box">
      <h3 class="text-center title">Core Need</h3>
      <p class="text-center p-text"><%=@core_need%></p>
    </div>

    <div class="box">
      <h3 class="text-center title">Core Belief</h3>
      <p class="text-center p-text"><%=@core_belief%></p>
    </div>

    <div class="box">
      <h3 class="text-center title">Core Pattern</h3>
      <p class="text-center p-text"><%=@core_pattern%></p>
    </div>
  </div>
  <br>

  <h2>Here is an indicator of all your types by progress bar</h2>
  <p class="p-text">The higher the bar, the more likely you will match that particular Enneagram Type</p>
  
  <% @sorted_enneagram_percentages.zip(@sorted_enneagram_numbers).each do |enneagram_percent, enneagram_number| %>    
    <div class="personality-bar">
      <div class="enneagram-bar" style="width: <%=enneagram_percent%>%;">
        <h5>Type <%= enneagram_number %></h5>
        <!--<h4><%#= enneagram_percent %>%</h4>-->
      </div>
    </div>
  <% end %>




  <h2 class="text-center">Want to find out more?</h2>
  <h3 class="text-center">Head over to <a href="https://www.theartofgrowth.org/">TheArtOfGrowth.Org</a> </h3>
</div>