<h1>Your Enneagram Type: <%= @enneagram_percentages.each_index.sort_by{|i| -@enneagram_percentages[i]}[0] + 1 %> </h1>




<br/>
<%
=begin%>
 <% @enneagram_percentages.each_with_index do |value, index| %>
  Enneagram <%=index +1 %>:
  <%= (value) %> %
  <br/>
<% end %> 
<%
=end%>



<%
=begin%>
 <p>
 Your top enneagram score is:
  <%= @enneagram_scores.each_index.sort_by{|i| -@enneagram_scores[i]}[0] + 1 %>
</p>


<% @enneagram_scores.each_with_index do |value, index| %>
   Enneagram <%=index + 1 %>:
   <%=((value/@enneagram_test_divisor)*100).floor(2)%>%
   <br/>
<%end%> 
<%
=end%>
<%= link_to "Remove All", remove_all_responses_path, :method => :delete %>

