
 <%# binding.pry %> 

<h1 class= "text-center">Your Enneagram Type: <%= @enneagram_percentages.each_index.sort_by{|i| -@enneagram_percentages[i]}[0] + 1 %> </h1>




<br/>
<%
=begin%>
 <% @enneagram_percentages.each_with_index do |value, index| %>
  Enneagram <%=index +1 %>:
  <%= (value) %> %
  <br/>
<% end %> 
<%
=end%>



<%
=begin%>
 <p>
 Your top enneagram score is:
  <%= @enneagram_scores.each_index.sort_by{|i| -@enneagram_scores[i]}[0] + 1 %>
</p>


<% @enneagram_scores.each_with_index do |value, index| %>
   Enneagram <%=index + 1 %>:
   <%=((value/@enneagram_test_divisor)*100).floor(2)%>%
   <br/>
<%end%> 
<%
=end%>
<br>
<h4 class="text-center">Want to learn more about what this means?</h3>
<br>
<h5 class="text-center">Check out our website for coaching sessions and see how the Enneagram can improve your personal journey toward wholeness</h5>
<%= link_to "Home", root_path, class:'btn btn primary' %>
