<div class="font">
  <h1 class="text-center">Your Enneagram Type: <%= @my_type %> </h1>
  <h2 class="text-center">Type <%=@my_type%></h2>
  <h3 class="text-center"><%=@description%></h3>

  <div class="grid">
    <div class="box">
      <h3 class="text-center title">Core Need</h3>
      <p class="text-center p-text"><%=@core_need%></p>
    </div>

    <div class="box">
      <h3 class="text-center title">Core Belief</h3>
      <p class="text-center p-text"><%=@core_belief%></p>
    </div>

    <div class="box">
      <h3 class="text-center title">Core Pattern</h3>
      <p class="text-center p-text"><%=@core_pattern%></p>
    </div>
  </div>
  <br>

  <h2 class="text-center">Want to find out more?</h2>
  <h3 class="text-center">Head over to <a href="https://www.theartofgrowth.org/">TheArtOfGrowth.Org</a> </h3>
</div>



<%= link_to "Home", root_path, class:'btn btn primary' %>