

<p>
  <strong>Enneagram one score:</strong>
  <%= @enneagram_score.enneagram_one_score %>
</p>

<p>
  <strong>Enneagram two score:</strong>
  <%= @enneagram_score.enneagram_two_score %>
</p>

<p>
  <strong>Enneagram three score:</strong>
  <%= @enneagram_score.enneagram_three_score %>
</p>

<p>
  <strong>Enneagram four score:</strong>
  <%= @enneagram_score.enneagram_four_score %>
</p>

<p>
  <strong>Enneagram five score:</strong>
  <%= @enneagram_score.enneagram_five_score %>
</p>

<p>
  <strong>Enneagram six score:</strong>
  <%= @enneagram_score.enneagram_six_score %>
</p>

<p>
  <strong>Enneagram seven score:</strong>
  <%= @enneagram_score.enneagram_seven_score %>
</p>

<p>
  <strong>Enneagream eight score:</strong>
  <%= @enneagram_score.enneagream_eight_score %>
</p>

<p>
  <strong>Enneagram nine score:</strong>
  <%= @enneagram_score.enneagram_nine_score %>
</p>

<%= link_to 'Edit', edit_enneagram_score_path(@enneagram_score) %> |
<%= link_to 'Back', enneagram_scores_path %>
