<div class="enneagram-test">
  <%= form_with(model: response, local: true) do |form| %>
    <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover">
      <div class="row carousel-row align-items-center">

        <ol class="carousel-indicators">
          <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleControls" data-slide-to="1"></li>
          <li data-target="#carouselExampleControls" data-slide-to="2"></li>
          <li data-target="#carouselExampleControls" data-slide-to="3"></li>
          <li data-target="#carouselExampleControls" data-slide-to="4"></li>
          <li data-target="#carouselExampleControls" data-slide-to="5"></li>
          <li data-target="#carouselExampleControls" data-slide-to="6"></li>
          <li data-target="#carouselExampleControls" data-slide-to="7"></li>
          <li data-target="#carouselExampleControls" data-slide-to="8"></li>
          <li data-target="#carouselExampleControls" data-slide-to="9"></li>
          <li data-target="#carouselExampleControls" data-slide-to="10"></li>
          <li data-target="#carouselExampleControls" data-slide-to="11"></li>
          <li data-target="#carouselExampleControls" data-slide-to="12"></li>
          <li data-target="#carouselExampleControls" data-slide-to="13"></li>
          <li data-target="#carouselExampleControls" data-slide-to="14"></li>
          <li data-target="#carouselExampleControls" data-slide-to="15"></li>
          <li data-target="#carouselExampleControls" data-slide-to="16"></li>
          <li data-target="#carouselExampleControls" data-slide-to="17"></li>
          <li data-target="#carouselExampleControls" data-slide-to="18"></li>
          <li data-target="#carouselExampleControls" data-slide-to="19"></li>
          <li data-target="#carouselExampleControls" data-slide-to="20"></li>
          <li data-target="#carouselExampleControls" data-slide-to="21"></li>
          <li data-target="#carouselExampleControls" data-slide-to="22"></li>
          <li data-target="#carouselExampleControls" data-slide-to="23"></li>
          <li data-target="#carouselExampleControls" data-slide-to="24"></li>
          <li data-target="#carouselExampleControls" data-slide-to="25"></li>
          <li data-target="#carouselExampleControls" data-slide-to="26"></li>
          <li data-target="#carouselExampleControls" data-slide-to="27"></li>
          <li data-target="#carouselExampleControls" data-slide-to="28"></li>
          <li data-target="#carouselExampleControls" data-slide-to="29"></li>
          <li data-target="#carouselExampleControls" data-slide-to="30"></li>
          <li data-target="#carouselExampleControls" data-slide-to="31"></li>
          <li data-target="#carouselExampleControls" data-slide-to="32"></li>
          <li data-target="#carouselExampleControls" data-slide-to="33"></li>
          <li data-target="#carouselExampleControls" data-slide-to="34"></li>
          <li data-target="#carouselExampleControls" data-slide-to="35"></li>
          <li data-target="#carouselExampleControls" data-slide-to="36"></li>
          <li data-target="#carouselExampleControls" data-slide-to="37"></li>
          <li data-target="#carouselExampleControls" data-slide-to="38"></li>
          <li data-target="#carouselExampleControls" data-slide-to="39"></li>
          <li data-target="#carouselExampleControls" data-slide-to="41"></li>
          <li data-target="#carouselExampleControls" data-slide-to="42"></li>
          <li data-target="#carouselExampleControls" data-slide-to="43"></li>
          <li data-target="#carouselExampleControls" data-slide-to="44"></li>
          <li data-target="#carouselExampleControls" data-slide-to="45"></li>
          <li data-target="#carouselExampleControls" data-slide-to="46"></li>
          <li data-target="#carouselExampleControls" data-slide-to="47"></li>
          <li data-target="#carouselExampleControls" data-slide-to="48"></li>
          <li data-target="#carouselExampleControls" data-slide-to="49"></li>
          <li data-target="#carouselExampleControls" data-slide-to="50"></li>
          <li data-target="#carouselExampleControls" data-slide-to="51"></li>
          <li data-target="#carouselExampleControls" data-slide-to="52"></li>
          <li data-target="#carouselExampleControls" data-slide-to="53"></li>
          <li data-target="#carouselExampleControls" data-slide-to="54"></li>
          <li data-target="#carouselExampleControls" data-slide-to="55"></li>
          <li data-target="#carouselExampleControls" data-slide-to="56"></li>
          <li data-target="#carouselExampleControls" data-slide-to="57"></li>
          <li data-target="#carouselExampleControls" data-slide-to="58"></li>
          <li data-target="#carouselExampleControls" data-slide-to="59"></li>
          <li data-target="#carouselExampleControls" data-slide-to="60"></li>
          <li data-target="#carouselExampleControls" data-slide-to="61"></li>
          <li data-target="#carouselExampleControls" data-slide-to="62"></li>
          <li data-target="#carouselExampleControls" data-slide-to="63"></li>
          <li data-target="#carouselExampleControls" data-slide-to="64"></li>
          <li data-target="#carouselExampleControls" data-slide-to="65"></li>
          <li data-target="#carouselExampleControls" data-slide-to="66"></li>
          <li data-target="#carouselExampleControls" data-slide-to="67"></li>
          <li data-target="#carouselExampleControls" data-slide-to="68"></li>
          <li data-target="#carouselExampleControls" data-slide-to="69"></li>
          <li data-target="#carouselExampleControls" data-slide-to="70"></li>
          <li data-target="#carouselExampleControls" data-slide-to="71"></li>
          <li data-target="#carouselExampleControls" data-slide-to="72"></li>
          <li data-target="#carouselExampleControls" data-slide-to="73"></li>
          <li data-target="#carouselExampleControls" data-slide-to="74"></li>
        </ol> 

        
        <div class="col-2"> 
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>

        <div class="col-8">
          <div class="carousel-inner">
            <% @questions.each_with_index do |question, index| %> 
              <div class="carousel-item text-center card">
                <%= fields_for "response[]", response do |response_field| %>
                  <div class="card-head text-center"> 
                    <h4 class="mt-4"><%=question.question %></h4>
                    <%= response_field.hidden_field :question_id, value: question.id %>
                    <%= response_field.hidden_field :user_id %> 
                  </div>
                  <div class="card-body text-center">
                    <p class="card-text">
                      <%= response_field.label "How much does this describe you?"%>
                    </p>
                    <div class="row">
                      <div class="col-2">
                        <p class="card-text">0%</p>
                      </div>
                      <div class="col-8"> 
                        <%= response_field.range_field :answer, min:0, max:100, class:"slider-1"  %>
                      </div>
                      <div class="col-2">
                       <p class="card-text">100%</p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-2">
          <p></p>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          
        </div>  
      </div>
    </div>

    <br/>
    <div class="d-flex justify-content-center mt-2">
      <%= form.submit "Show me my type", class:"btn btn-primary calculate-btn" %>
    </div>  

  <% end %>
</div>  


<script>
  document.querySelector('.carousel-inner :first-child').classList.add('active');
</script>