<h1 class="text-center">Enneagramtesting.org</h1>
<div class="enneagram-test remove-container">
  <%= form_with(model: response, local: true) do |form| %>
  <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover" data-touch="false">
    <div class="row carousel-row align-items-center">
      <div class="col-md-12">

        <!-- questionair completeness indictor -->
        <ol class="carousel-indicators">
          <% @questions.each_with_index do |question, index| %>
          <li data-target="#carouselExampleControls" data-slide-to="<%=index%>" id="carousel-indicator"></li>
          <%end%>
        </ol>

        <div class="carousel-inner">
          <% @questions.each_with_index do |question, index| %>
          <div class="carousel-item text-center card">
            <%= fields_for "response[]", response do |response_field| %>
            <div class="card-head text-center">
              <h2 class="mt-4"><%=question.question %></h2>
              <%= response_field.hidden_field :question_id, value: question.id %>
              <%= response_field.hidden_field :user_id %>
            </div>
            <div class="card-body text-center">
              <p class="card-text">
                <%= response_field.label "How much does this describe you?"%>
              </p>
              <div class="row">
                <div class="col-2 px-0">
                  <p class="percent-text">0%</p>
                </div>
                <div class="col-8 remove-padding-left-right">
                  <p class="percent-value">Value: <span id="question<%=index + 1%>score">50</span>%</p>
                  <%= response_field.range_field :answer, min:0, max:100, class:"slider-1", id:"question#{index+1}"%>
                </div>
                <div class="col-2 px-0">
                  <p class="percent-text">100%</p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

    </div>
    <br>
    <div class="container">
      <div class="row scroll-arrows">
        <div class="col-md-6">
          <a class="carousel-control-prev" href="#carouselExampleControls" onclick="setTimeout(showArrowBtn, 645)" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div class="col-md-6">
          <a class="carousel-control-next" href="#carouselExampleControls" onclick="setTimeout(showArrowBtn, 645)" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= form.submit "Show my type", class:"btn btn-primary", id:"calculate-btn"%>
  </div>
  <% end %>
</div>


<script>


  const element = document.querySelector("#carousel-indicator");
  element.classList.add("active");

  // document.querySelector('.carousel-indicators :first-child').classList.add('active');
  document.querySelector('.carousel-inner :first-child').classList.add('active');

  var sliders = document.getElementsByClassName("slider-1");
  for (var i = 0; i < (sliders.length); i++) {
    sliders[i].addEventListener('input', function() {
      document.getElementById(this.getAttribute('id') + 'score').innerText = this.value;
    });
  }


  //// show submit button when user gets to the final question /////
  const last_question = document.getElementById("question<%=Question.last.id%>");
  const first_question = document.querySelector(".carousel-inner :first-child");


  function showArrowBtn() {
    //show prev arrow when user has moved on from question 1.
    if (first_question.classList.contains('active')) {
      document.getElementsByClassName('carousel-control-prev')[0].style.display = "none";
    } else {
      document.getElementsByClassName('carousel-control-prev')[0].style.display = "flex";
    }
    //hide next arrow when user is on last question.
    if (last_question.offsetWidth > 0 && last_question.offsetHeight > 0) {
      document.getElementsByClassName('carousel-control-next')[0].style.display = "none";
      document.getElementById('calculate-btn').style.opacity = "1";
    } else {
      document.getElementsByClassName('carousel-control-next')[0].style.display = "flex";
    }
  }

  function hide() {
    document.getElementById("calculate-btn").style.visibility = "hidden";
  }
</script>